@import "./Style.scss";

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.App-header {
  background-color: #262626;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
}

.topnav {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 0;
  width: 100%;
  height: 52px;
  z-index: 10000;
  overflow: hidden;
  background-color: $secondary;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.topnav > a {
  color: white;
  text-align: center;
  top: 12px;
  padding: 5px 17px;
  text-decoration: none;
  font-size: 16px;
  border-right: solid 1px white;
  align-self: center;
}

.topnav > a:hover {
  background-color: $secondary-hover;
  text-decoration: none;
  color: $gray2;
  cursor: pointer;
}

.topnav > a.oneplan {
  border: none;
  color: $primary;
  font-size: 1.5em;
  float: left;
  font-weight: 600;
}
