@import "./Style.scss";

.AttBar {
  overflow-wrap: break-word;
  right: 0;
  top: 108px;
  bottom: 0px;
  padding: 12px;
}

.AttBarCard {
  overflow-wrap: break-word;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
  height: 400px;
  width: auto;
  color: white;

  .name{
    font-size: 1.1em;
    font-weight: bold;
  }
  .open-time{
    font-size: 0.7em;
  }
  .description{
    font-weight: lighter;
    font-size: 0.9em;
  }
  .type{
    color: black;
    width: 100px;
    background-color: $primary;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin-left: 20px;
  }
  .image{
    display: flex;
    flex-grow: 1;
    border-radius: 10px;
    justify-content: flex-end;
  }
  .description-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0px -200px 80px -100px rgba(0,0,0,0.4);
  }
}

.attPhoto2 {
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 50%;
  background: #ffffff;
}

.attName2 {
  font-size: 1.2em;
  width: 100%;
}

.attType2 {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 0.7em;
  margin-top: 0.7em;
  padding: 5px;
  background: #fcd328;
  border-radius: 5px;
  float: left;
}

.search-container {
  position: sticky;
  top: -38px;
  right: 0px;
  z-index: 1;
  font-size: 1.4em;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: white;
   > span{
    font-weight: bold;
  }
}

.search-bar {
  background: white !important;
  outline: none;
  padding: 5px;
  margin: 5px;
  border-radius: 12px;
  border: solid 1px;
  border-color: $gray2;
  color: black;
  width: 95%;
  padding-left: 2.4em;
  font-size: 0.8em;
  &::placeholder{
    color: $gray2;
    left: 30px;
  }
}

.search-container:focus-within{
  > .search-icon{
    color: $primary;
    transition: 0.25s;
  }
  > .search-bar{
    border-color: $secondary;
  }
}

.search-icon{
  position: absolute;
  top: 2.9em;
  left: 20px;
  color: $gray2;
  transition: 0.25s;
}

input[type="text"]:focus {
  outline: none !important;
  border-color: 0px;
  box-shadow: 0 0 0;
}

.att-bar-wrap {
  position: sticky;
  top: 54px;
  height: calc(100vh - 54px);
  overflow-y: scroll;
  padding: 36px;
  box-shadow: -1px 0px 20px 2px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.att-bar-desc{
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  justify-content: space-evenly;
  & > * {
    margin-bottom: 1em;
  }
  & > h3 {
    font-weight: bold;
  }
  & > hr{
    width: 300px;
    border-top: 3px solid $primary;
  }
  & > p{
    text-align: justify;
  }
}

.details-button{
  width: 200px;
  height: 2.6em;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  background-color: $primary;
  align-self: center;
}
