@import "./Style.scss";

.AttCardContainer{
  width: auto;
  border-left-width: thick;
  border-left: solid;
  border-left-color: $gray2;
  display: flex;
  flex-direction: row;
  transition: 0.2s;
}

.AttCardTimeContainer{
  position: relative;
  left: -8px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media all and (max-width: 480px){
    width: 22px;
  }
}


.AttCard {
  position: relative;
  background: $gray4;
  box-sizing: border-box;
  padding: 20px;
  width: 80%;
  height: 180px;
  border-radius: 10px;
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  transition: .2s ease-in-out;
  @media all and (max-width: 480px){
    padding: 15px;
    flex-direction: column;
    width: 100%;
  }
  &:focus-within{
    outline: none;
    height: 240px;
    width: 100%;
    @media all and (max-width: 480px){
      padding: 10px;
      flex-direction: column;
    }
    > .AttPhotoCont{
      width: 178px;
      max-width: 178px;
    }
    > .StartTimeDot{
      background: $primary;
    }
    .AttName{
      overflow: auto;
      white-space: normal;
    }
  }
}

.DelCard {
  color: grey;
  position: absolute;
  right: .5em;
  top: .2em;
  padding: 10px;
  cursor: pointer;
  font-size: small;
}

.Triangle{
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid $gray4;
  position: absolute;
  filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.2));
  z-index: -1;
  left: -15px;
}

%AttDot{
  position: relative;
  right: -2px;
  background: $gray2;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.AttDotStart{
  @extend %AttDot;
}

.AttDotStop{
  @extend %AttDot;
  bottom: 0;
}

.Time{
  position: relative;
  font-size: medium;
  font-weight: 400;
  color: $gray2;
  left: -50px;
  top: -5px;
}

.Duration{
  position: relative;
  width: 90px;
  left: -45px;
  background: white;
  border-radius: 5px;
  font-size: 1em;
  color: grey;
  text-align: center;
  @media all and (max-width: 480px){
    font-size: 0.8em;
  }
}

.SelAttDura {
  position: relative;
  width: 90px;
  left: -45px;
  background: white;
  border-radius: 5px;
  font-size: 1.2em;
  color: grey;
}

.AttPhotoCont{
  transition: .2s ease-in-out;
  max-width: 148px;
  width: 148px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-self: stretch;
  @media all and (max-width: 480px){
    flex-direction: column;
    flex-grow: 1;
  }
}

.AttPhoto {
  display: block;
  flex-grow: 1;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;
  border: none;
  background: #ffffff;
  @media all and (max-width: 480px){
  }
}

.AttTypeCont {
  background: $primary;
  width: 18px;
  height: 50px;
  border-radius: 7px 0px 0px 7px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
  @media all and (max-width: 480px){
    border-radius: 7px 7px 0px 0px;
    width: 50px;
    height: 18px;
    margin-bottom: 0;
    align-self: flex-start;
    flex-direction: column;
    position: absolute;
    top: -18px;
  }
}

.AttType {
  margin-top: 2px;
  font-size: x-small;
  font-weight: bold;
  transform: rotate(-90deg);
  text-align: left;
  @media all and (max-width: 480px){
    transform: rotate(0deg);
    text-align: center;
  }
}

.AttDetailsCont{
  margin-left: 1.2em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  @media all and (max-width: 480px){
    margin-left: 0;
    margin-top: 0.2em;
  }
}

.AttName {
  font-weight: bold;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AttDes {
  font-size: 10px;
  font-weight: 100;
}

.AttDesCont {
  width: 100%;
  height: auto;
  flex-grow: 1;
  padding: .6em;
}

.AttDesCont p {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: auto;
  font-size: 12px;
  height: 100%;
}
