@import "./Style.scss";

.AttCardContainer{
  width: auto;
  border-left-width: thick;
  border-left: solid;
  border-left-color: $secondary;
  display: flex;
  flex-direction: row;
  transition: 0.2s;
  &:focus-within{
    border-left-color: $primary;
  }
}

.AttCardTimeContainer{
  position: relative;
  left: -8px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.AttCard {
  position: relative;
  background: $gray4;
  box-sizing: border-box;
  padding: 25px;
  height: 180px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  transition: .2s ease-in-out;

  &:focus-within{
    outline: none;
    height: 240px;
    width: 100%;
    padding: 40px;
    > .AttPhotoCont{
      width: 178px;
    }
    > .StartTimeDot{
      background: $primary;
    }
  }
}

.DelCard {
  color: grey;
  position: absolute;
  right: .5em;
  top: .2em;
  padding: 10px;
  cursor: pointer;
  font-size: small;
}

.Triangle{
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid $gray4;
  position: absolute;
  filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.2));
  z-index: -1;
  left: -15px;
}

%AttDot{
  position: relative;
  right: -2px;
  background: $secondary;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.AttDotStart{
  @extend %AttDot;
  &:focus-within{
    background: $primary;
  }
}

.AttDotStop{
  @extend %AttDot;
  bottom: 0;
  &:focus-within{
    background: $primary;
  }
}

.Time{
  position: relative;
  font-size: medium;
  font-weight: 400;
  color: $gray2;
  left: -50px;
  top: -5px;
}

.Duration{
  position: relative;
  width: 90px;
  left: -45px;
  background: white;
  border-radius: 5px;
  font-size: 1.2em;
  color: grey;
  text-align: center;
}

.SelAttDura {
  position: relative;
  width: 90px;
  left: -45px;
  background: white;
  border-radius: 5px;
  font-size: 1.2em;
  color: grey;
}

.AttPhotoCont{
  transition: .2s ease-in-out;
  width: 148px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-self: stretch;
}

.AttPhoto {
  display: block;
  flex-grow: 1;
  height: auto;
  border-radius: 10px;
  border: none;
  background: #ffffff;
}

.AttTypeCont {
  background: #fcd328;
  width: 18px;
  height: 50px;
  border-radius: 7px 0px 0px 7px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: flex-end;
}

.AttType {
  margin-top: 2px;
  font-size: x-small;
  font-weight: bold;
  transform: rotate(-90deg);
  text-align: left;
}

.AttDetailsCont{
  width: 200px;
  margin-left: 1.2em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.AttName {
  font-weight: bold;
  font-size: 1em;
}
.AttDes {
  font-size: 10px;
  font-weight: 100;
}

.AttDesCont {
  width: 100%;
  height: auto;
  flex-grow: 1;
  padding: .6em;
}

.AttDesCont p {
  white-space: normal;
  text-overflow: ellipsis;
  overflow: auto;
  font-size: 12px;
  height: 100%;
}
