@import "./Style.scss";

.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  border: none !important;
  background-color: #000000 !important;
  color: white;
}

.toast-header {
  color: black !important;
  background-color: rgb(255, 206, 0) !important;
}

.toast-body {
  color: white !important;
}

.fa-pencil-square-o {
  color: lightgray;
  padding: 19px 0px;
  height: 55px;
  width: 55px;
  margin: 0px;
}

.fa-pencil-square-o:hover {
  opacity: 0.5;
}

.DayTimeline {
  width: 100%;
  background: white;
}

.AddDay {
  position: relative;
  top: 25px;
  left: 60px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 30px;
  font-weight: bolder;
  line-height: 10px;
  color: $secondary;
  background-color: $primary;
  outline: 10px solid white;
}

.AddDay:hover {
  color: #000000;
  background-color: #fcc626;
}

.DelDay {
  position: relative;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  font-size: 11px;
  align-content: center;
  text-indent: -1px;
  color: white;
  background-color: $gray3;
  border: none;
  font-weight: 700;
}

.DelDay:hover {
  color: white;
  background-color: lightgrey;
}

.Timeline {
  width: 100%;
  overflow: hidden;
  padding-top: 0;
}

.DayTitleCont{
  display: flex;
  flex-direction: row;
  margin: 10px 5px 30px 25px;
  & > * {
    align-self: center;
    margin-left: 10px;
  }
  .DayTitle{
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap; 
    @media all and (max-width: 480px){
      font-size: 1.2em;
    }
  }
  .DayInfo{
    margin-left: 1em;
    align-self: center;
    @media all and (max-width: 480px){
      font-size: 0.6em;
    }
  }
}

.DayTimelineContentContainer{
  display: flex;
  flex-direction: row;
}

.TimeVerticalLineContainer{
  min-width: 100px;
  @media all and (max-width: 480px){
    min-width: 60px;
  }
}

.AttVerticalLine{
  border-left-width: medium;
  border-left: solid;
  border-left-color: $primary;
}

.TransVerticalLine{
  border-right-width: medium;
  border-right: solid;
  border-right-color: $gray3;
}

.AttCardTransCardContainer{
  width: 80%;
}

.container1 {
  position: relative;
  top: 52px;
}

.publish-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  float: right;
  background-color: #28aefc;
  border: none;
  color: $secondary;
  height: 56px;
  width: 100px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.publish-div {
  position: absolute;
  top: 350px;
  right: 50px;
  z-index: 1;
}

.white-button-edit2{
  padding-left: solid;
}
