@import './Style.scss';

.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  border: none !important;
  background-color: #000000 !important;
  color: white;
}

.toast-header {
  color: black !important;
  background-color: rgb(255, 206, 0) !important;
}

.toast-body {
  color: white !important;
}

.fa-pencil-square-o {
  color: lightgray;
  padding: 19px 0px;
  height: 55px;
  width: 55px;
  margin: 0px;
}

.fa-pencil-square-o:hover {
  opacity: 0.5;
}

.DayTimeline {
  width: 100%;
  background: white;
}

.AddDay {
  position: relative;
  top: 20px;
  left: 50px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 22px;
  align-content: center;
  color: #0a090c;
  background-color: #fcd328;
  border: none;
}

.AddDay:hover {
  color: #000000;
  background-color: #fcc626;
}

.DelDay {
  position: relative;
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  font-size: 11px;
  align-content: center;
  text-indent: -1px;
  color: white;
  background-color: white;
  margin: 10px 5px 10px 25px;
  border: none;
  font-weight: 700;
}

.DelDay:hover {
  color: white;
  background-color: lightgrey;
}

.Timeline {
  width: 100%;
  overflow: hidden;
  top: 64px;
}

.container1 {
  position: relative;
  top: 52px;
}

.publish-button{
	font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  float: right;
  background-color: #28aefc;
  border: none;
  color: #0a090c;
  height: 56px;
  width: 100px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

.publish-div{
	position: absolute;
	top: 350px;
	right: 50px;
  z-index: 1;
}
