@import "./Style.scss";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

//duplicate!
.Feedback {
  position: fixed;
  background-color: #339af0;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  color: $gray4;
  border: none;
  outline: none;
}
.Feedback:active,
.Feedback:focus {
  outline: none;
  outline: 0;
}

.Feedback-2 {
  position: fixed;
  background-color: #339af0;
  bottom: 20px;
  right: 180px;
  height: 40px;
  width: 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  font-size: 1em;
}
.Feedback-2:active,
.Feedback-2:focus {
  outline: none;
  outline: 0;
}

// .feedback_text:link{
//   color: $gray4;
// }
// .feedback_text:visited{
//   color: $gray4;
// }
// .feedback_text:hover{
//   color: $gray4;
// }
// .feedback_text:active{
//   color: $gray4;
// }
.plan-description-picture-home {
  position: absolute;
  min-height: 700px;
  width: 100%;
  clip-path: circle(1700px at 50% -900px);
  object-fit: cover;
}

.plan-description-container-home {
  min-height: 650px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
  z-index: 2;
  background-color: black;
}

.plan-description-container-home > .row {
  justify-content: center;
  z-index: 1;
  text-shadow: 2px 2px 8px rgba($secondary, 0.4);
}

.oneplan-title {
  color: $primary;
  font-size: clamp(3em, 12vw, 6em);
  letter-spacing: 0.1em;
  font-weight: 650;
}
.oneplan-description{
  font-weight: 600;
  color: white;
  font-size: clamp(1.4em, 4vw, 3em);
  text-align: center;
}

.plan-search-button-home {
  width: 180px;
  border-radius: 8px;
  background-color: #fcd328;
}
.plan-search-button-home :hover {
  background-color: #fcc626;
}

.intro-container-home {
  display: flex;
  height: 298px;
  width: 100%;
  background-color: #f5f6f3;
  flex-direction: column;
  padding: 3px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.howto-1 {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
.howto-number {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  padding-top: 8px;
}
.intro-container-home-row {
  height: 100%;
  width: 100%;
}
.intro-container-home-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 292 px;

  border-right: solid;
}

.intro-container-home-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 292 px;
}

.gif {
  object-fit: scale-down;
  height: 150px;
  width: 246px;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/photo.oneplan.in.th/howto-both-new.gif");
  align-content: center;
  align-self: center;
  display: block;
}

.intro-plan-home {
  color: #fcd328;
  font-size: 1.3em;
}

.intro-container-home > div {
  font-size: 1.2em;
  font-weight: 800;
}

.homepage-ending-container{
  padding: 10em 10vw 4em 10vw;
  display: grid;
  grid-template:
    "title img"
    "content img"
    "button img" ;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.2em;
  justify-content: space-evenly;
  background-color: $gray4;
  .title{
    grid-area: title;
    font-size: 2.4em;
    font-weight: bold;
    color: $primary;
  }
  .content{
    grid-area: content;
    text-align: justify;
  }
  .circle{
    position: relative;
    right: -10vw;
    border-radius: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: end;
    height: 8vw;
    width: 8vw;
    background-color: $primary;
    z-index: 1;
  }
  img{
    grid-area: img;
    border-radius: 100%;
    place-self: center;
    width: 25vw;
  }
  button{
    grid-area: button;
    background-color: $primary;
    color: $secondary;
    font-size: 1.8em;
    border-radius: 100px;
    width: 230px;
    height: 2.4em;
  }
}

.search-plan-button{
  margin: 20px;
  margin-left: calc(50vw - 100px);
  width: 200px;
  height: 80px;
  background-color: $primary;
  border-radius: 20px;
  font-weight: bold;
}
