@import "./Style.scss";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

//duplicate!
.Feedback {
  position: fixed;
  background-color: #339af0;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 20px;
  color: $gray4;
  border: none;
  outline: none;
}
.Feedback:active,
.Feedback:focus {
  outline: none;
  outline: 0;
}

.Feedback-2 {
  position: fixed;
  background-color: #339af0;
  bottom: 20px;
  right: 180px;
  height: 40px;
  width: 40px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 25px;
  font-size: 1em;
}
.Feedback-2:active,
.Feedback-2:focus {
  outline: none;
  outline: 0;
}

// .feedback_text:link{
//   color: $gray4;
// }
// .feedback_text:visited{
//   color: $gray4;
// }
// .feedback_text:hover{
//   color: $gray4;
// }
// .feedback_text:active{
//   color: $gray4;
// }
.plan-description-picture-home {
  position: absolute;
  min-height: 400px;
  filter: blur(2px);
  -webkit-filter: blur(1px);
  padding-bottom: 50px;
  width: 100%;
}

.plan-description-container-home {
  min-height: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(10, 5, 5, 0.8);
  color: white;
  justify-content: center;
  padding-bottom: 50px;
  width: 100%;
  z-index: 2;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 66.4%;
  box-shadow: inset 0 0 0 1000px rgba(232, 232, 232, 0.15);
}

.plan-description-container-home > .row {
  justify-content: center;
  z-index: 1;
  text-shadow: 2px 2px 8px rgba($secondary, 0.4);
}

.oneplan-title {
  color: $primary;
  font-size: 8em;
  font-weight: 650;
}

.oneplan-description {
  font-weight: bold;
  color: #e0e0e0;
  font-size: 1.8em;
  text-align: center;
  letter-spacing: 0.2em;
}

.oneplan-description-2 {
  font-weight: 650;
  color: white;
  font-size: 3.3em;
  text-align: center;
  letter-spacing: 0.2em;
}

.plan-search-container-home {
  height: 72px;
  width: 767px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  padding: 15px;

  align-self: center;

  justify-content: space-between;
}

.plan-search-container-home > select,
.plan-search-container-home > button {
  height: 45px;
  margin-right: 10px;
}

.plan-search-city-home {
  position: relative;
  width: 40%;
}
.plan-search-city-home ::-ms-expand {
  display: none;
}
.plan-search-city-home :hover {
  border-color: #888;
  color: #fcc626;
}

// .plan-search-date{
//   width: 300px;
// }

// .plan-search-people{
//   width: 160px;
// }

.plan-search-button-home {
  width: 180px;
  border-radius: 8px;
  background-color: #fcd328;
}
.plan-search-button-home :hover {
  background-color: #fcc626;
}
.intro-container-home {
  display: flex;
  height: 298px;
  width: 100%;
  background-color: #f5f6f3;
  flex-direction: column;
  padding: 3px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.howto-1 {
  display: "flex";
  justify-content: "center";
  align-items: "center";
}
.howto-number {
  font-size: 2em;
  font-weight: 800;
  text-align: center;
  padding-top: 8px;
}
.intro-container-home-row {
  height: 100%;
  width: 100%;
}
.intro-container-home-col {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 292 px;

  border-right: solid;
}

.intro-container-home-col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 292 px;
}
.gif {
  object-fit: scale-down;
  height: 150px;
  width: 246px;
  background-image: url("https://s3-ap-northeast-1.amazonaws.com/photo.oneplan.in.th/howto-both-new.gif");
  align-content: center;
  align-self: center;
  display: block;
}
.intro-plan-home {
  color: #fcd328;
  font-size: 1.3em;
}

.intro-container-home > div {
  font-size: 1.2em;
  font-weight: 800;
}

.search-subtitle {
  margin-top: 20px;
  margin-left: 30%;
  position: relative;
  font-size: 18px;
  align-self: center;
  text-align: left;
}

.day-input {
  height: 32px;
  width: 48px;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

.chekcbox-container{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.hidden-checkbox {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.search-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

.checkbox-container :checked{
  background:#fcd328;
}

.checkbox-container :focus{
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}
