@import "./Style.scss";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

.loginForm{
    display: block;
    position: fixed;
    z-index: 22;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
  }

  .signUpForm{
    display: block;
    position: fixed;
    z-index: 22;
    padding-top: 10%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
  }

  .loginContent {
    border: none;
    box-shadow: 0 0 40px -20px #000;
    background-color: $gray4;
    color: $gray1;
    margin: auto;
    padding: 20px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    height: 320px;
    width: 550px;
    position: relative
  }

  .signUpContent{
    border: none;
    box-shadow: 0 0 40px -20px #000;
    background-color: $gray4;
    color: $gray1;
    margin: auto;
    padding: 20px;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    height: 900px;
    width: 550px;
    position: relative
  }

  .close-login {
    float: right;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
  }

  .login-input-box {
    border: none;
    width: 100%;
    height: fit-content;
    padding: 10px;
    justify-content: center;
    display: flex;
  }

  .login-submit-button {
    position: absolute;
    right:5%;
    bottom: 5%;
    background-color: white;
    color: $gray1;
    border: 2px solid $primary;
    font-family: $engfont;
    height: 43px;
    width: 90px;
    margin-top: 30px;
    margin-left: 80%;
  }
  .login-submit-button:hover {
    background-color: $primary-hover;
    color: #ffffff;
  }

  .error{
    color: red;
    font-size: 0.7em;
  }