@import "./Style.scss";

.new_plan_button {
  background-color: $primary;
  position: absolute;
  right: 5%;
  color: $secondary;
  font-weight: bold;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  z-index: 3;
}

.myplan-container{
  padding-top: 50px;
  padding-bottom: 0px;
  background-color: $secondary;
}

.myplan-text {
  color: white;
  position: relative;
  font-size: 2.4em;
  font-weight: bold;
  padding-left: 50px;
}

.Plan-list-div {
  left: 10px;
  top: 10px;
  position: relative;
}
