.new_plan_button{
  font-family: "Noto Sans TH", sans-serif;
  background-color: #0a090c; 
  position: absolute;
  right: 13%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
}

.MyPlan-text{
    font-family: "Noto Sans TH", sans-serif;
    color: #0a090c;
    position: absolute;
}

.Plan-list-div{
    top: 22px;
    position: relative;
    font-family: "Noto Sans TH", sans-serif;
    
}