@import "./Style.scss";

.new_plan_button {
  background-color: $primary;
  color: $secondary;
  font-weight: bold;
  padding: .3rem;
  margin-left: auto;
  text-align: center;
  text-overflow: clip;
  border-radius: 0.2em;
  font-size: clamp(0.8rem, 3vw, 2rem);
  z-index: 3;
  width: 26vw;
}

.myplan-container{
  padding-top: 150px;
  padding-bottom: 0px;
  background-color: $secondary;
}

.myplan-text {
  color: white;
  position: relative;
  font-size: 2.4em;
  font-weight: bold;
  padding: 0 5vw 0 5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Plan-list-div {
  left: 10px;
  top: 10px;
  position: relative;
}
