@import "./Style.scss";

.plan-card{
  min-width: 350px !important;
  max-width: 350px !important;
  height: 450px;
  border-radius: 10px !important;
  border: none !important;
  margin: 2em !important;
  cursor: pointer;
}

.plan-card-img{
  height: 70%;
  border-radius: 10px 10px 0 0 !important;
}

.plan-card-title{
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: .2em !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.plan-card-subtitle{
  font-size: 1.2em;
}

.plan-card-deck{
  display: flex;
  flex-direction: row;
  overflow-x: scroll !important;
  flex-wrap: nowrap !important;
  height: auto;
}

.plan-card-view-count{
  position: absolute;
  font-size: 1.2em;
  top: 1em;
  right: 1em;
  opacity: 0.4;
}
