@import "./Style.scss";

.card-body{
  @media all and (max-width: 480px){
    padding: 0.8rem !important;
  }
}

.plan-card{
  min-width: 350px !important;
  max-width: 350px !important;
  height: 450px;
  border-radius: 10px !important;
  border: none;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 2em !important;
  cursor: pointer;
  @media all and (max-width: 480px){
    min-width: 200px !important;
    min-width: 200px !important;
    height: 250px;
  }
}

.plan-card-img{
  height: 70%;
  object-fit: cover;
  border-radius: 10px 10px 0 0 !important;
  @media all and (max-width: 480px){
    height: 65%;
  }
}

.plan-card-title{
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: .2em !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  @media all and (max-width: 480px){
    font-size: 1.2em;
  }
}

.plan-card-subtitle{
  font-size: 1.2em;
  @media all and (max-width: 480px){
    font-size: 0.8em;
  }
}

.plan-card-deck{
  display: flex;
  flex-direction: row;
  overflow-x: scroll !important;
  flex-wrap: nowrap !important;
  height: auto;
}

.plan-card-view-count{
  position: absolute;
  font-size: 1.2em;
  top: 1em;
  right: 1em;
  opacity: 0.4;
}
