@import "./Style.scss";

.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  border: none !important;
  background-color: #000000 !important;
  color: white;
}

.toast-header {
  color: black !important;
  background-color: rgb(255, 206, 0) !important;
}

.toast-body {
  color: white !important;
}

.title-bar {
  position: sticky;
  top: 52px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}

.title-bar div {
  float: left;
  top: 52px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.title-bar > div.title {
  font-weight: bold;
  font-size: 24px;
  color: $secondary;
  padding: 10px 20px 10px 20px;
  cursor: default;
  @media all and (max-width: 480px){
    padding: 5px 5px 5px 5px;
    font-size: 18px;
  }
}

.title-bar > div.plan {
  color: $secondary;
  padding: 5px 20px 5px 20px;
  cursor: default;
  border-left: solid;
  @media all and (max-width: 480px){
    padding: 5px 5px 5px 5px;
    font-size: 18px;
  }
}

.title-bar > div.map {
  color: $secondary;
  padding: 5px 20px 5px 20px;
  cursor: default;
  border-left: solid;
  @media all and (max-width: 480px){
    padding: 5px 5px 5px 5px;
    font-size: 18px;
  }
}

.title-bar > button.white-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  float: right;
  border: none;
  background-color: #ffffff;
  color: $secondary;
  height: 55px;
  width: 100px;
  margin-left: auto;
}

.title-bar > button.white-button:hover {
  background-color: #fcd328;
  color: #000000;
}

.title-bar > button.white-button2 {
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  float: right;
  border: none;
  background-color: #ffffff;
  color: $secondary;
  height: 55px;
  width: 100px;
  margin: 0px !important;
  border-left: solid;
}

.title-bar > button.white-button2:hover {
  background-color: #fcd328;
  color: #000000;
}

.DayTimeline {
  width: 100%;
  background: white;
}

.Block {
  position: relative;
  float: left;
  height: 20px;
  width: 20px;
  text-indent: -1px;
  margin: 10px 5px 10px 25px;
  display: flex;
  flex-direction: row;
}

.container1 {
  position: relative;
  top: 52px;
}

.review {
  width: 100%;
  overflow: hidden;
  padding: 3%;
  padding-top: 0;
  position: relative;
}

.addReview {
  border: none;
  width: 80%;
}

.postReview {
  position: absolute;
  top: 72px;
  right: 16%;
  background-color: #fcd328;
  border: none;
  border-radius: 4px;
  z-index: 10;
}

.rating {
  position: absolute;
  top: 20px;
  left: 80%;
}

.rating-container {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3px;
  // margin-left: 10px;
  // padding: 10px;
}

.search-rating {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #888;
}

.rating-container :checked {
  background: #fcd328;
  border: none;
}

.rating-container :focus {
  border: none;
}

.review-box{
  width: 80%;
  margin-top: 24px;
}
