@import './Style.scss';

.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  border: none !important;
  background-color: #000000 !important;
  color: white;
}

.toast-header {
  color: black !important;
  background-color: rgb(255, 206, 0) !important;
}

.toast-body {
  color: white !important;
}

.title-bar {
  position: sticky;
  top: 52px;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
}

.title-bar div {
  float: left;
  top: 52px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.title-bar > div.title {
  font-weight: bold;
  font-size: 24px;
  height: 55px;
  color: $secondary;
  padding: 10px 20px 10px 20px;
  cursor: default;
}

.title-bar > div.city {
  color: $secondary;
  padding: 5px 20px 5px 20px;
  cursor: default;
  border-left: solid;
}

.title-bar > div.days {
  color: $secondary;
  padding: 5px 20px 5px 20px;
  cursor: default;
  border-left: solid;
}

.title-bar > button.yellow-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  float: right;
  border: none;
  color: #0a090c;
  height: 55px;
  width: 100px;
  margin-left: auto;
}

.title-bar > button.yellow-button:hover {
  color: #000000;
}


.DayTimeline {
  width: 100%;
  background: white;
}

.AddDay {
  position: relative;
  top: 20px;
  left: 50px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 22px;
  align-content: center;
  color: #0a090c;
  background-color: #fcd328;
  border: none;
}

.AddDay:hover {
  color: #000000;
  background-color: #fcc626;
}

.Block {
  position: relative;
  float: left;
  height: 20px;
  width: 20px;
  text-indent: -1px;
  margin: 10px 5px 10px 25px;
}

.Timeline {
  width: 100%;
  overflow: hidden;
  top: 64px;
}

.container1 {
  position: relative;
  top: 52px;
}
