@import "./Style.scss";

.card {
  padding: 0.8rem;
}

.card-title {
  font-size: 1.8em;
  text-align: center;
}

.card-subtitle {
  font-size: 0.8em;
  color: grey;
  text-align: center;
}

.tab-content {
  padding: 0.6rem;
}

.overview-description-wrap {
  padding: 0.6rem;
  padding-top: 0;
  text-align: justify;
}

.post-header {
  min-height: 400px;
}

.post-header-title {
  bottom: 30px;
}
