$primary: #fcd328;
$secondary: #0a090c;
$primary-hover: #fcc626;
$secondary-hover: #000000;

$gray1: #4f4f4f;
$gray2: #a9a8a5;
$gray3: #e0e0e0;
$gray4: #f5f6f3;

$engfont: "Noto Sans", sans-serif;
$jpfont: "Noto Sans JP", sans-serif;
$titlefont: "Raleway", sans-serif;
