$primary: #FCD328;
$secondary: #0A090C;
$primary-hover: #FCC626;
$secondary-hover: #000000;

$gray1: #4F4F4F;
$gray2: #A9A8A5;
$gray3: #E0E0E0;
$gray4: #F5F6F3;


$engfont:'Noto Sans', sans-serif;
$jpfont: 'Noto Sans JP', sans-serif;
$titlefont: 'Raleway', sans-serif;
