$primary: #fcd328;
$secondary: #0a090c;
$primary-hover: #fcc626;
$secondary-hover: #000000;

$gray1: #4f4f4f;
$gray2: #a9a8a5;
$gray3: #e0e0e0;
$gray4: #f5f6f3;

$engfont: "Noto Sans", sans-serif;
$jpfont: "Noto Sans JP", sans-serif;
$titlefont: "Raleway", sans-serif;
$thfont: "Noto Sans TH", sans-serif;

@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

@font-face {
  font-family: "Noto Sans TH";
  unicode-range: "U+0E00–U+0e7f";
  src: local("Noto Sans TH"),
    url(./fonts/NotoSansThai-Regular.ttf) format("truetype");
}

@supports(-webkit-appearance: none) {
  input[type='checkbox'],
  input[type='radio'],
  input[type=text],
  textarea,
  {
    -webkit-appearance: none;
  }
}

input, textarea, select{
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #FFF;
  border: 1px solid $gray3;
  color: $gray1;
  outline: none;
  transition: 0.2s ease-out;
  &:hover{
    border: 1px solid $gray2;
  }
  &:focus{
    color: $secondary;
    border: 1px solid $primary;
  }
  &::placeholder {
    color: rgba( $gray3, .5 );
  }
}

input, button, submit {
  border: none;
  outline: none;
}

textarea {
    background-color: white;
    resize: none !important;
}
