@import "./Style.scss";

.Transcard {
    box-sizing: border-box;
    padding-left: 18px;
    margin-left: 80px;
    height: auto;
    width: 300px;
    max-width: 800px;
    border-left: solid;
    border-left-color: $gray3;
    border-left-width: thick;
    display: flex;
    flex-direction: column;
}
.transport {
    display: inline-block;
    color: #e5e5e5;
}
.from {
    display: inline-block;
    color: #e5e5e5;
}
.start {
    display: inline-block;
    color: yellow;
}
.to {
    display: inline-block;
    color: #e5e5e5;
}
.destination {
    display: inline-block;
    color: yellow;
}
