@import "./Style.scss";

.TransCardTimeContainer{
    border-left-width: medium;
    border-left: solid;
    border-left-color: $gray3;
    padding: 30px 0 30px 80px;
    @media all and (max-width: 480px){
      padding: 20px;
      flex-direction: column;
    }
}

.Transcard {
    box-sizing: border-box;
    padding: 18px;
    height: auto;
    width: auto;
    max-width: 600px;
    border-left: solid;
    border-left-color: $gray3;
    border-left-width: thick;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (max-width: 480px){
      padding: 10px;
      flex-direction: column;
    }
}
.no-transport {
    display: inline-block;
    color: #e5e5e5;
}

.transport {
    display: inline-block;
    & > * {
      margin-left: 0.4em;
      font-size: large;
    }
    & > :first-child{
      color: $gray2;
      margin-left: 0;
      font-size: small;
    }
    & > * > :nth-child(2){
      font-size: small;
    }
}

.fromTo{
  :nth-child(1){
      color: $gray2;
  }
  :nth-child(3){
      color: $gray2;
  }
}

.map{
  color: $primary;
  width: max-content;
  &:hover{
    color: $primary;
  }
}
