
.AttBar {
  overflow-wrap: break-word;
  position: fixed;
  right: 0;
  top: 108px;
  bottom: 0px;
  width: 33.3%;
  padding: 12px;
  border-left: 1px solid rgba(0,0,0,.1);
  overflow-y: scroll;

}

.AttBarCard {
  overflow-wrap: break-word;
  position: relative;
  background: #f5f6f3;
  box-sizing: border-box;
  padding-left: 10px;
  margin: 30px 10% 30px 10%;
  height: 300px;
  width: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.2);
  z-index: 0;
  font-family: 'Karla', sans-serif;
}

.attPhoto2 {
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 50%;
  background: #ffffff;
}

.attName2 {
  font-size: 1.2em;
  text-shadow: 1px 1px grey;
  width: 100%;
}

.attType2 {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 0.7em;
  margin-top: 0.7em;
  padding:5px;
  background: #fcd328;
  border-radius: 5px;
  float: left;
}

.description {
  overflow-wrap: break-word;
  font-size: 0.8em;
  margin-top:40px;
  width: 100%;
  line-height: 20px;
}

.search {
  position: fixed;
  right: 5%;
  top: 20%;
  width: 25%;
  z-index: 1;
  color:white;
  background: #9E9E9E;
  border-radius: 20px;


}
.search-text {
  border: none;
  background:none;
  outline:none;
  padding: 5px;
  margin-left: 5px;
  color: white;
}

input[type=text]:focus {
  outline: none !important;
    border-color: 0px;
    box-shadow: 0 0 0;
}