.AttBar {
  position: absolute;
  right: 0;
  top: 108px;
  border: solid 1px;
  width: 33.3%;
  padding: 12px;
}

.AttBarCard {
  position: relative;
  background: #f5f6f3;
  box-sizing: border-box;
  padding-left: 10px;
  margin: 30px 10% 30px 10%;
  height: 150px;
  width: auto;
  border-radius: 10px;
  box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.2);
}

.attPhoto2 {
  float: left;
  margin-top: 11px;
  margin-left: 11px;
  width: 128px;
  height: 128px;

  background: #ffffff;
}

.attName2 {
  font-size: 16px;
  font-weight: bold;
  width:200px;
}

.attType2 {
  font-style: italic;
  line-height: 1em;
  width:200px;
}

.description {
  margin-top: 12px;
  width:200px;
}

@media(max-width:1494px){
    .AttBarCard{
        height:300px;
    }
}