.AttCard {
    position: relative;
    background:#F5F6F3;
    box-sizing: border-box;
    padding-left: 28px;
    margin: 30px auto;
    height: 150px;
    width: 60%;
    border-radius: 10px;
}
.timeFrom{
    position: absolute;
    margin-top: 8px;
    font-size: large;
    font-weight: 700;
}

.timeUntil{
    position: absolute;
    margin-top: 24px;
    font-size: large;
    font-weight: 400;
}
.attPhoto{
    position: absolute;
    margin-top: 11px;
    margin-left: 64px;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    
    background: #ffffff;

}

.attType{
    position: absolute;
    margin-top: 78px;
    margin-left: 19.5px;
    background: #fcd328;
    width: 64px;

    transform: rotate(-90deg);
}
.attName{
    position: absolute;
    margin-top: 8px;
    margin-left: 208px;

}




.place {
    position: relative;
    margin-left: 100px;
    margin-top: 100px;
    right: 100px;
    top: 0px;
    left: 0px;
    width: 384px;
    background:#F5F6F3 ;
    height: 96px;
    border-radius: 10px;
    padding-left: 28px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
}

.photo {
    position: absolute;
    border-radius: 10px;
    height: 64px;
    width: 64px;
    background: #e0e0e0;
}
.text{
    position: absolute;
    margin-left: 80px;
    font-weight: bold;
    
}
.text2{
    position: absolute;
    margin-top: 16px;
    margin-left: 80px;
    
}