.AttCard {
    position: relative;
    background:#F5F6F3;
    box-sizing: border-box;
    padding-left: 28px;
    margin: 30px auto;
    height: 150px;
    width: 60%;
    border-radius: 10px;
}
.timeFrom{
    font-family: sans-serif;
    position: absolute;
    margin-top: 8px;
    font-size: large;
    font-weight: 700;
    
}

.timeUntil{
    font-family: sans-serif;
    position: absolute;
    margin-top: 26px;
    font-size: medium;
    font-weight: 400;
    
}
.attPhoto{
    
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 120px;
    width: 120px;
    left: 100px;
    border-radius: 10px;
    
    
    background: #ffffff;

}

.attTypeCont{
    position: absolute;
    margin-top: 84px;
    background: #fcd328;
    height: 18px;
    width: 64px;
    margin-left: 31px;
    box-sizing: border-box;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    transform: rotate(-90deg);
    text-align: center;
    
}

.attType{
    margin-top: 2px;
    font-size: x-small;
    
    
    
    font-family: sans-serif;
}
.attName{
    position: absolute;
    margin-top: 14px;
    margin-left: 208px;
    font-family: sans-serif;

}
.attDes{
   font-size: 10px;
   font-weight: 100;
}
.attDesCont{
    position: relative;
    font-size: 10px;
    width: 300px;
    height: 100px;
    top:41px;
    left:210px;
}


