.AttCard {
    position: relative;
    background: #f5f6f3;
    box-sizing: border-box;
    padding-left: 28px;
    margin: 30px 50px 30px 120px;
    height: 150px;
    width: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 7px -1px rgba(0, 0, 0, 0.2);
}
.StartTime {
    font-family: sans-serif;
    position: absolute;
    margin-top: 10px;
    font-size: large;
    font-weight: 700;
    color: grey;
}

.EndTime {
    font-family: sans-serif;
    position: absolute;
    margin-top: 30px;
    font-size: medium;
    font-weight: 400;
    color: grey;
}
.AttPhoto {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 120px;
    width: 120px;
    left: 100px;
    border-radius: 10px;

    background: #ffffff;
}

.AttTypeCont {
    position: absolute;
    margin-top: 84px;
    background: #fcd328;
    height: 18px;
    width: 64px;
    margin-left: 31px;
    box-sizing: border-box;
    border-radius: 7px 7px 0px 0px;
    transform: rotate(-90deg);
    text-align: center;
}

.AttType {
    margin-top: 2px;
    font-size: x-small;

    font-family: sans-serif;
}
.AttName {
    position: absolute;
    margin-top: 14px;
    margin-left: 208px;
    font-family: sans-serif;
}
.AttDes {
    font-size: 10px;
    font-weight: 100;
}
.AttDesCont {
    position: relative;
    font-size: 10px;
    width: auto;
    height: auto;
    padding: 41px 16px 16px 210px;
}
