.avatar-image {
  height: 60px;
  width: 60px;
  align-self: center;
  border-radius: 50%;
}

.plan-description-title {
  font-weight: 400;
  font-size: 1.4em;
}

.plan-description {
  font-size: 0.9em;
  padding: 10px;
  margin: 10px;
  border-bottom: solid;
  border-bottom-width: thin;
}

.plan-description-container {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 70px;
  background-color: rgba(10, 5, 5, 0.8);
  color: rgba(255, 245, 245, 0.9);
  justify-content: flex-end;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 10;
  border: none !important;
  background-color: #000000 !important;
  color: white;
}

.toast-header {
  color: black !important;
  background-color: rgb(255, 206, 0) !important;
}

.toast-body {
  color: white !important;
}

.title-bar {
  position: sticky;
  top: 52px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  background-color: #0a090c;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.4);
}

.title-bar div {
  float: left;
  position: sticky;
  top: 52px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}

.title-bar > div.title {
  font-weight: bold;
  font-size: 24px;
  height: 55px;
  color: #fcd328;
  padding: 10px 20px 10px 40px;
  cursor: default;
}

.title-bar > div.city {
  color: #f47;
  padding: 15px 20px 13px 20px;
  cursor: default;
}

.title-bar > div.days {
  color: #f47;
  padding: 15px 20px 13px 20px;
  cursor: default;
}

.title-bar > button.yellow-button {
  font-weight: bold;
  font-size: 20px;
  line-height: 14px;
  float: right;
  background-color: #fcd328;
  border: none;
  color: #0a090c;
  height: 55px;
  width: 100px;
}

.title-bar > button.yellow-button:hover {
  background-color: #fcc626;
  color: #000000;
}


.DayTimeline {
  width: 100%;
  background: white;
}

.AddDay {
  position: relative;
  top: 20px;
  left: 50px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  font-size: 22px;
  align-content: center;
  color: #0a090c;
  background-color: #fcd328;
  border: none;
}

.AddDay:hover {
  color: #000000;
  background-color: #fcc626;
}

.Block {
  position: relative;
  float: left;
  height: 20px;
  width: 20px;
  text-indent: -1px;
  margin: 10px 5px 10px 25px;
}

.Timeline {
  width: 100%;
  overflow: hidden;
  top: 64px;
}

.container1 {
  position: relative;
  top: 52px;
}
